#sidebar{
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container{
  text-align: center;
  display: block;
}

#sidebar-container ul{
  list-style-type: none;
  padding: 0;
}

#sidebar-container ul li a{
  color: #fff;
  text-decoration: none;
}


#sidebar-container ul li{
  padding: 15px 0;
}

